.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.photos-flex {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  margin-top: 330px;
  justify-content: space-around;
  gap: 1rem;
}

.photo-item {
  flex: 1 1 200px; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.photo-item img {
  width: 100%; 
  height: auto;
  border-radius: 8px;
  object-fit: cover; 
}

@media (max-width: 875px) {
  .photo-item {
    flex: 1 1 180px; 
  }
}

@media (max-width: 768px) {
  .photo-item {
    flex: 1 1 150px; 
  }
}

@media (max-width: 480px) {
  .photo-item {
    flex: 1 1 120px; 
  }
}

@media (max-width: 280px) {
  .photo-item {
    flex: 1 1 100%; 
  }
}

